.login-form label {
    color: white;
    text-align: center;
    display: block;
}

#loginform-verifycode-image {
    background-color: white;
    padding: 2px;
    margin-left: 40%;
    margin-bottom: 10px;
}

.no-padd {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.login-logo {
    color: #fff;
    font-size: 15px;
}

.gallery .mix {
    display: block !important;
}

#main-menu {
    overflow: scroll;
    height: 100%;
    padding-bottom: 50px;
}

.modal-body {
    height: 300px;
    overflow: auto;
}

.modal-body-custom img{
    margin-right: 20px;
}

.cover-container{
    margin: 10px 0;
}

.cover-container p{
    font-weight: 500;
}

.field-tours-cover label, .field-tours-cover input{
    display: none;
}

[data-key='5b4773bb629c761b60005170'] td{
    text-align: center;
}

.choosed-gal {
    border: 2px solid green;
}

.chat_icon{
    color: red;
    font-size: 20px !important;
    padding-left: 40% !important;
    visibility: hidden;
}

.gallery{
    height:115px;
    padding-top: 5px !important;
}

.field-menu-category, .field-menu-post, .field-menu-page{
    display: none;
}
.bordered{
    border: 1px solid red;
}